@import url("https://fonts.googleapis.com/css?family=Inter");

*,
*:after,
*:before {
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #000021;
  font-size: calc(1em + 1vw);
  background-color: #e6e6ef;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: .5rem;
}

.radio_up label input {
  position: absolute;
  left: -9999px;
}

.radio_up label input:checked + span {
  background-color: #d6d6e5;
}

.radio_up label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  text-align: center;
}

.radio_up label span:hover {
  background-color: #d6d6e5;
}

.radio_up label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  row-gap: 4rem;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}

.radio_up {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.input_middle {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.input_middle label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}

.input_middle input {
  color: #00005c;
  box-shadow: inset 0 0 0 2px #00005c;
  padding: 1rem;
  text-align: center;
  font-size: inherit;
  border: none;
  width: 100%;
}

.submit_bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.submit_bottom input {
  color: #00005c;
  box-shadow: inset 0 0 0 2px #00005c;
  padding: 1rem;
  text-align: center;
  font-size: inherit;
  border: none;
  transition: 250ms ease-in-out;
  background-color: white;
  cursor: pointer;
}

.submit_bottom input:hover {
  background-color: #00005c;
  color: white;
  transition: 250ms ease-in-out;
}

.answer {
	text-align: center;
  user-select: text;
}

.answer p {
	background: red;
	color: white;
	border-radius:5px;
	padding: 0.5rem;
	margin-top:0.75rem;
	
}

@media only screen and (max-width: 600px) {
  .container {
    row-gap: 1rem;
  }

  .input_middle {
    flex-direction: column;
    margin-top: 0;
  }

  .input_middle label {
    width: 75%;
  }

  .submit_bottom {
    margin-top: 0;
  }
}